.checkerboard {
  background-color: #fff;
  background-image:
    linear-gradient(45deg, #e4e7ec 25%, transparent 25%),
    linear-gradient(-45deg, #e4e7ec 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #e4e7ec 75%),
    linear-gradient(-45deg, transparent 75%, #e4e7ec 75%);
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0;
  background-size: 20px 20px;
}

.qr-preview-output,
.qr-preview-output > canvas,
.qr-preview-output > svg {
  display: block;
  max-width: 100%;
  width: 100% !important;
  height: 100% !important;
}
